<!doctype html>
<html lang="en">

<head>
  <base href="/">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Visitor Profile</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>


<body style="background-image: url('/resources/visitor_profile.jpg')";>
  <%  if(message){  %>
      <div style='text-align: center' class="alert alert-<%= message.type %>">
        <button type="button" class="close" data-dismiss='alert'>&times;</button>
        <strong><%= message.intro %></strong> <%= message.message %>
      </div>
  <%  }  %>

  <button onclick="topFunction()" id="myBtn" title="Go to top">
    <svg width="1em" height="1em" viewBox="0 0 16 18" class="bi bi-arrow-up-circle" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
      <path fill-rule="evenodd"
        d="M4.646 8.354a.5.5 0 0 0 .708 0L8 5.707l2.646 2.647a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 0 0 0 .708z" />
      <path fill-rule="evenodd" d="M8 11.5a.5.5 0 0 0 .5-.5V6a.5.5 0 0 0-1 0v5a.5.5 0 0 0 .5.5z" />
    </svg>
  </button>


  <header>
    <div class="" id="head-color">

   <nav class="navbar navbar-expand-lg " >

        <a class="navbar-brand" href="/">
          <img src="/resources/logo.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
        </a>

        <a class="navbar-brand" href="/" id=""   style="  color: white;">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span >
            <img  src="/resources/square.png" width="40" height="40"  alt="">
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">

            <a class="nav-item nav-link navbar-ic-position" href="logout"   style="  color: white;">Logout</a>


          </div>

        </div>

        <!--
       <a  onclick="change_detail_func();" class="nav-item nav-link  navbar-ic-position " id="head-color" href="">change details</a>
    <a onclick="extendfunc();" class="nav-item nav-link navbar-ic-position " id="head-color" href="">extend</a>
    <a onclick="deactivatefunc();"  class="nav-item nav-link navbar-ic-position " id="head-color" href="">deactivate</a>
   -->
    </nav>
    </div>
  </header>
<br>
<h1 style="text-align: right;  margin: auto;padding: 10px; ">
  Visitor Profile
</h1>
  <h1 style="text-align: right;  margin: auto;padding: 10px; ">
    <%= Visitor_Name %>
  </h1>
  <div  class="">
    <img  style="text-align: right;  margin: auto; margin-right: 10px; padding: 20px; height: 200px; width:200px; display:block -webkit-transform: scaleX(-1);
  transform: scaleX(-1);"src="<%= visitor.url %>" alt="">
  </div>

  <h3 style="text-align: center;  margin: auto;padding: 10px; ">Status: <%= visitor.status %></h3>

  <h4 style="text-align: center;  margin: auto;padding: 10px; "> Scan for Entry</h4>

<div  style="text-align: center;  margin: auto;padding: 10px; " class="">
  <img src="<%= qr_code %>" alt="">
</div>



<section>
  <div class="container" style="width: 90%;" id="head-color">

    <form id="update-form">

      <div class="form-group">
        <label style="margin-top: 15px;" for="visitor_id">visitor_id</label>
        <input style="color: black;" name="username" type="text" class="form-control" readonly="readonly" id="visitor_id"
          value="<%= visitor.username %>">
      </div>

      <div class="form-group">
        <label for="name">name</label>
        <input style="color: black;" name="name" type="text" class="form-control" readonly="readonly" id="name" value="<%= visitor.name %>">
      </div>

      <div class="form-group">
        <label for="sex">sex</label>
        <input style="color: black;" name="sex" type="text" class="form-control" readonly="readonly" id="sex" value="<%= visitor.sex %>">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">email</label>
        <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          value="<%= visitor.email %>">
      </div>

      <div class="form-group">
        <label id="mobile-number" for="mobile">mobile</label>
        <input id="mobile" name="mobile" type="text" class="form-control"  value="<%= visitor.mobile %>">
      </div>
      <div style="color:red;" id="mobileResponseDiv"></div>

      <div class="form-group">
        <label for="address">address</label>
        <input name="address" type="text" class="form-control" id="address" value="<%= visitor.address %>">
      </div>
      <div class="form-group">
        <label for="requestedDate">requested date</label>
        <input name="requestedDate" type="text" class="form-control" id="reqDate" value="<%= visitor.reqDate %>">
      </div>

      <div class="form-group">
        <label for="exampleInputEmail1">duration of stay</label>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="visiting time" value="<%= visitor.inDate %>" style="color: black;" readonly/>
          <span class="input-group-addon">-</span>
          <input type="text" class="form-control" placeholder="leaving time"  value="<%= visitor.outDate %>" style="color: black;" readonly/>
        </div>


    </form>


  <div class="row">
    <div class="col-sm-12 text-center" style="margin-bottom: 2px;">
      <button id="update-button"style="margin-top: 15px;" formaction="visitor_update_by_visitor" formmethod="post" onclick=""
        class="btn btn-primary btn-md">Update</button>
    </div>
  </div>

</div>
</section>
  <!--
<div id="check" class=""></div>
<div id="change-details" class="container"></div>
<div id="extend" class="container"></div>
<div id="deactivate" class="container"></div>
-->



<footer class="panel-footer">
    <div class="container" style="width: 100%">
      <div class="row">
        <section id="hours" class="col-sm-4">
          <span>contact us:</span><br>
          vms.sasy@gmail.com<br>


          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-instagram"></a>
          <hr class="visible-xs">
        </section>


        <section id="address" class="col-sm-4">
          <span>Address:</span><br>
           IIIT - Allahabad, Jhalwa Campus, Deoghat<br>
           Allahabad-211012<br>
          India
          <hr class="visible-xs">
        </section>


        <section id="testimonials" class="col-sm-4">
          <p>About:</p>
          <p>"VMS" is aimed to increase the efficiency of Visitor management systems in the hotel /residential places .The main objectiveis to increase security and safety of the visitors .
</p>
          <p>owner: VMS</p>
        </section>
      </div>
      <div class="text-right">&copy; Copyright VMS 2020. All rights reserved</div>
    </div>
  </footer>






  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
  <script src="js/ajax-utils.js"></script>
  <script src="js/admin.js"></script>
  <script >
  $(document).ready(function () {
      $("#update-button").click(function (e) {
          e.preventDefault();
            var  mobile=$("#mobile").val();
            console.log(mobile.length);


          // var s="1230567890";
          if(mobile.length==10) {
              //Submit line commented out for example.  In production, remove the //
              $("#update-form").attr("action","visitor_update_by_visitor");
              $("#update-form").attr("method","post");
              $("#update-form").submit();

              //Shows success message and prevents submission.  In production, comment out the next 2 lines.
              // $("#responseDiv").html("Passwords Match");
              // return false;
      }
      else {

          $("#mobileResponseDiv").html("Incorrect Mobile Number...<br></br>");
          var x =0;
          var y = $("#mobile-number").offset().top;
          window.scrollTo(x,y);
          // topfunction();
          return false;
      }
  });
  });

  </script>

</body>

</html>
